<%- include('partials/header') -%>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>TO DO</h2>
        <ul class="col list-unstyled">
          <% for(var i=0; i<posts.length; i++) {%>
            <%if(posts[i].user.toString()==user._id.toString()){%>
              <li class="col-6 justify-content-between mt-5">
                <h3><%= posts[i].title %></h3>
                <a href="/post/<%= posts[i]._id%>">
                  <img class="img-fluid" src="<%= posts[i].image%>">
                </a>
              </li>
          <% }} %>
          </ul>
        </div>

      <div class="col">
        <h2>IN PROGRESS</h2>
        <ul class="col list-unstyled">
          <% for(var i=0; i<posts.length; i++) {%>
            <%if(posts[i].user.toString()!==user._id.toString()){%>
              <li class="col-6 justify-content-between mt-5">
                <h3><%= posts[i].title %></h3>
                <a href="/post/<%= posts[i]._id%>">
                  <img class="img-fluid" src="<%= posts[i].image%>">
                </a>
              </li>
          <% }} %>
          </ul>
      </div>

      <div class="col">
        <h2>COMPLETED</h2>
      </div>

    </div>
  </div>  
<%- include('partials/footer') -%>